.flexbox-container{
    height: 24em;
    display: flex;
    align-items: center;
    background-color: rgb(100,183,255);
}

.flexbox-item-type1{
    min-height: 3em;
    flex-direction: column;
    justify-content: center;
}

.flexbox-item-type2{
    height: 5em;
    width: 5em;
    flex-direction: row;
    justify-content: center;
}

.flexbox-item{
    width: 400px;
    margin: 2em;
    border: 2px solid #777
}